html, body {
    overflow: hidden;
}
footer {
    position: absolute;
    top: 98vh;
    size: 10px;
    z-index: 3;
}
footer a {
    color: #4fa545 !important;
}
#app {
    max-height: 100vh;
    overflow-y: auto;
}
#data-container > #key-numbers {
    margin-bottom: 1%;
}
#data-container > #viz {
    min-height: 100vh;
}
.article span {
    background: #4242427d;
    padding-left: 1%;
}
.article.md-card {
    margin: 0;
}
.article span.md-subhead > a:hover {
    color: #a2dc7e;
    text-decoration: none;
    font-weight: bold;
}
.article span.md-subhead > a {
    color: var(--md-theme-default-theme);
}
.loading-cover-up {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2021279e;
    z-index: 50;
    padding: 25%;
}
.loading-cover-down {
    display: none;
}
/*
#data-container > #viz > div {
    float: left;
} */
.top-word {
    padding: 1%;
}
.top-word > :nth-child(2) {
    text-align: right
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(126, 172, 40, 0.5); ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(72, 99, 23, 0.5); ; 
}