<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Science 2 - Dashboard - Assignment 2</title>
    
    <link rel="stylesheet" href="/static/vendor/vue-material/vue-material.min.css">
    <link rel="stylesheet" href="/static/vendor/vue-material/black-green-dark.css">
    <link rel="stylesheet" href="/static/vendor/material-icons.css">
    <link rel="stylesheet" href="/static/css/main.css">
    
    <script src="/static/vendor/moment.js"></script>
    <script src="/static/vendor/vue/vue.min.js"></script>
    <script src="/static/vendor/vue-material/vue-material.min.js"></script>
    <script src="/static/vendor/d3/d3.min.js"></script>
    <script src="/static/vendor/d3/d3-scale.min.js"></script>
    <script src="/static/vendor/d3/d3.layout.cloud.js"></script>
    
    <script src="/static/js/util.js"></script>
    <script src="/static/js/WordCloud.js"></script>
    <script src="/static/js/BarChart.js"></script>
    <script src="/static/js/LineChart.js"></script>
    <script src="/static/js/DonutChart.js"></script>
    <script src="/static/js/main.js"></script>
    
</head>
<body>
    <style>
        .md-drawer.md-theme-default {
            flex: 0.15;
        }
        .md-app {
            min-height: 100vh;
        }
    </style>
    <div id="app">
        <div class="page-container">
            <md-app md-waterfall md-mode="fixed">
                <md-app-toolbar class="md-primary">
                    <span class="md-title">Newsapi Word Analyzer</span>
                </md-app-toolbar>
                
                <md-app-drawer md-permanent="full">
                    <md-toolbar class="md-transparent" md-elevation="0">
                        Topics
                    </md-toolbar>
                    
                    <md-list>
                        <md-list-item v-for="topic in topics" @click="setCurrentTopic(topic)">
                            <div v-if="currentTopic !== topic" class="md-list-item-text">
                                %(topic)%
                            </div>
                            <div v-if="currentTopic === topic" class="md-list-item-text">
                                <b>%(topic)%</b>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-app-drawer>
                
                <md-app-content id="data-container" style="overflow: hidden;">
                    <div id="key-numbers" class="md-layout-item md-layout md-size-100 md-center">
                        <div v-for="topWord in topWords" class="top-word md-layout-item md-elevation-5"> 
                            <div class="md-title">
                                %(topWord.word)%
                            </div>
                            <div>
                                <span class="md-display-2" style="font-size: 2em;">%(topWord.percent)%%</span>
                                <span class="md-caption" style="color: #949494">/%(topWord.count)%w</span>
                            </div>
                        </div>
                    </div>
                    <div id="viz" class="md-layout-item md-layout md-size-100">
                        <div class="md-layout-item md-size-60">
                            <loading-cover-up :loading="loadingStatus.newsfeed"></loading-cover-up>
                            <div class="md-title" style="text-align: center;">Sentiment Timeseries</div>
                            <div style="height: 60vh;">
                                <d3-line-chart id="timeseries" :data="timeseries"></d3-line-chart>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-40">
                            <loading-cover-up :loading="loadingStatus.wordCounts"></loading-cover-up>
                            <div class="md-title" style="text-align: center;">Most Frequent Words</div>
                            <div style="height: 60vh;">
                                <d3-word-cloud id="word-cloud" :data="wordCounts"></d3-word-cloud>
                            </div>
                        </div>
                        <div v-for="(newsfeed, name) in newsfeeds" class="md-layout-item md-size-25" >
                            <div class="md-title" style="text-align: center;">%(name)%</div>
                            <div style="max-height: 70vh; overflow-y: scroll; overflow-x: hidden;">
                                <md-card v-for="article in newsfeed" class="article">
                                    <md-card-media-cover>
                                        <md-card-media md-ratio="16:9">
                                            <img :src="article.urlToImage || '/static/NotFound.png'" onerror="this.src='/static/NotFound.png'">
                                        </md-card-media>
                                        
                                        <md-card-area>
                                            <md-card-header>
                                                <span class="md-subhead">
                                                    <a :href="article.url" target="__blank">
                                                        %(article.title)%
                                                    </a>
                                                </span>
                                                <span class="md-caption">by %(article.author)%, %(moment(article.publishedAt).fromNow())%</span>
                                            </md-card-header>
                                        </md-card-area>
                                    </md-card-media-cover>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </md-app-content>
            </md-app>
        </div>
    </div>
    <footer>
        <a href="https://newsapi.org" target="_blank" rel="noopener noreferrer">Powered by News API</a>
    </footer>
</body>
</html>